h1{
    color:rgb(199, 10, 10);
}
body{
    background:#091921
    
}
#answer{
    width: 300px;
    border-radius :10px;
    background:#fff;
    color:black;
}
.calc{
    background:#0c2835;
    padding: 10px;
    display: inline-block;
    border-radius :20px
}
input{
    font-size:30px;
    width:70px;
    height:60px;
    margin: 5px;
    border-radius: 15px;
    border: none;
    background: #0c2835;
    color:#fff;
}

.text input:active{
    background:#74ff3b;
    color: #111;
}